HugeProject
TestPhpProject/
bin/tools/marea/
bin/dicto-engine/shell-output.txt
bin/tools/phpda/dictoChecker
bin/analysis/*
!bin/analysis/.info
bin/dicto-engine/PharoDebug.log
bin/dicot-engine/shell-error.txt
TestProject/
TestProjectPhp/
bin/dicto-engine/crash.dmp
bin/dicto-engine/package-cache/*
bin/dicto-engine/play-cache/*
bin/dicto-engine/PharoDebug.log 
bin/dicto-engine/test-log.txt
bin/dicto-engine/shell-error.txt
bin/dicto-engine/Moose.image
